

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-Hant">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-56Z9JC');</script>
    <!-- End Google Tag Manager -->




<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
    <meta name="description" content="中華職業棒球大聯盟（CPBL），簡稱中華職棒、中職，是臺灣目前唯一的職業棒球聯盟，也是臺灣最早成立的職業運動聯盟。" />
    <meta property="og:title" content="中華職棒大聯盟全球資訊網 The Official Site of CPBL" />
    <meta property="og:description" content="中華職業棒球大聯盟（CPBL），簡稱中華職棒、中職，是臺灣目前唯一的職業棒球聯盟，也是臺灣最早成立的職業運動聯盟。" />
    <meta property="og:image" content="https://www.cpbl.com.tw/theme/common/images/project/logo_new.png" />

    
    <title>賽程 | 中華職棒大聯盟全球資訊網 The Official Site of CPBL</title>

    <link rel="shortcut icon" href="/theme/client/images/favicon.ico" />

    <link href="/theme/client/css/style.css?v=20220331" rel="stylesheet" type="text/css" />
    

<link href="/theme/client/css/content.css?v=20251113" rel="stylesheet" type="text/css" />


<link href="/bundles/css?v=nzlhs8MdHZvr4Vdkx1gtXwY2K0Px_QlNX-C-c3KOB8U1" rel="stylesheet"/>

<script src="/bundles/js?v=Afnc8PGvBYAnAeJynYC2Znk0e6AKkZTEMTwsK4toBJE1"></script>


<script type="text/javascript">
    var pgInfo = {
        SystemPhase: 11,
        Form: null,
        WebSiteRoot: "/",
        UploadRoot: "/files/"
    };

    $(function () {
        pgInfo.Form = $("form[id='MainForm']");
    });
</script>


<script type="text/javascript">
    var captchaHelper = (function () {
        return {
            reset: function () {
                $('.captcha-code').attr('src', '/pageutil/captchacode' + "?" + Math.floor(Math.random() * (1000 - 1 + 1) + 1));
                return false;
            }
        };
    })();

    $(function () {
        //captchaHelper.reset();
    });
</script>


    <script type="text/javascript">
        $(function () {
            $('.superfish').superfish();
            $('#MenuMobile').mmenu();
        });
        Date.prototype.addDays = function (days) {
            this.setDate(this.getDate() + days);
            return this;
        }
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小時
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>

    <link href="/theme/client/css/width_narrow.css?v=20251218" media="only screen and (max-width: 639px)" rel="stylesheet" type="text/css" />
    <link href="/theme/client/css/width_wide.css?v=20251218" media="only screen and (min-width: 640px) and (max-width: 1023px)" rel="stylesheet" type="text/css" />
    <link href="/theme/client/css/width_desktop.css?v=20251218" media="only screen and (min-width: 1024px)" rel="stylesheet" type="text/css" />
    
        <script src="/theme/client/js/vue.min.js?v=20250821"></script>

    



<style>
    [v-cloak] {
        display: none;
    }

    .slide-enter-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .slide-leave-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .slide-enter-to, .slide-leave {
        max-height: 500px;
        overflow: hidden;
    }

    .slide-enter, .slide-leave-to {
        overflow: hidden;
        max-height: 0;
    }
</style>


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56Z9JC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="Wrap">
        <header id="Header">
            <div>
                    <div class="Topper">
                        <div>
                            <div class="top_links">
                                <ul class="list">
                                    <li class="lang"><a href="https://en.cpbl.com.tw">English</a></li>
                                </ul>
                            </div>
                            <div style="height:40px"></div>
                        </div>
                    </div>
                <div class="col_left">
                    <div class="logo">
                        <h1><a href="/" title="中華職棒大聯盟全球資訊網 The Official Site of CPBL" style="background-image:url('/theme/common/images/project/logo_new.png');height:110%;">中華職棒大聯盟全球資訊網 The Official Site of CPBL</a></h1>
                    </div>

                    <!-- 桌機版選單 -->
                    <nav id="Menu">
                        <div>
                            <ul class="menu_list superfish">
                                <li class="home"><a href="/" title="中華職棒大聯盟全球資訊網 The Official Site of CPBL" style="background-image:url('/theme/common/images/project/logo_new.png')">中華職棒大聯盟全球資訊網 The Official Site of CPBL</a></li>
                                <li>
                                    <a href="javascript:;">最新消息</a>
                                    <ul>
                                        <li><a href="/xmdoc">賽事新聞</a></li>
                                        <li><a href="/news">新聞公告</a></li>
                                    </ul>
                                </li>
                                <li><a href="/schedule">賽程</a></li>
                                <li><a href="/box">成績看板</a></li>
                                <li>
                                    <a href="javascript:;">球隊戰績</a>
                                    <ul>
                                        <li><a href="/standings/season">本季球隊戰績</a></li>
                                        <li><a href="/standings/special">特殊統計</a></li>
                                        <li><a href="/standings/history">歷年球隊戰績</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">數據統計</a>
                                    <ul>
                                        <li><a href="/stats/toplist">單項排行榜</a></li>
                                        <li><a href="/stats/recordall">全記錄查詢</a></li>
                                        <li><a href="/stats/yearaward">年度獎項得主</a></li>
                                        <li><a href="/stats/hr">歷年全壘打明細</a></li>
                                        <li><a href="/stats/mvp">單月MVP</a></li>
                                        <li><a href="/specialreport/cont?SId=0L090754347267822514">紀錄特別報導</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">球員</a>
                                    <ul>
                                        <li><a href="/player">球員點將錄</a></li>
                                        <li><a href="/player/trans">球員異動</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://cpbl.cyberbiz.co/">商城</a>
                                </li>

                                <!--li><a href="javascript:;">票務</a></li-->
                                
                            </ul>
                        </div>
                    </nav>
                    <!-- 桌機版選單 end -->
                </div>

                <div class="col_right">
                    <div class="teams">
                        <ul>
                                <li><a href="/team?ClubNo=ACN" title="中信兄弟" style="background-image:url('/files/file_pool/1/0l109765754453009797/logo_brothers.png')">中信兄弟</a></li>
                                <li><a href="/team?ClubNo=ADD" title="統一7-ELEVEn獅" style="background-image:url('/files/file_pool/1/0l109765753819131779/logo_lions.png')">統一7-ELEVEn獅</a></li>
                                <li><a href="/team?ClubNo=AJL" title="樂天桃猿" style="background-image:url('/files/file_pool/1/0o012549940550727932/2024_cpbl%e5%85%ad%e9%9a%8alogo_r2_%e5%ae%98%e7%b6%b2.png')">樂天桃猿</a></li>
                                <li><a href="/team?ClubNo=AEO" title="富邦悍將" style="background-image:url('/files/file_pool/1/0l109765753631383724/logo_fubon.png')">富邦悍將</a></li>
                                <li><a href="/team?ClubNo=AAA" title="味全龍" style="background-image:url('/files/file_pool/1/0l109765752096404797/logo_dragon.png')">味全龍</a></li>
                                <li><a href="/team?ClubNo=AKP" title="台鋼雄鷹" style="background-image:url('https://www.cpbl.com.tw/files/file_pool/1/0n062433781050140053/%e5%96%ae%e8%89%b2t-100x100.png')">台鋼雄鷹</a></li>
                        </ul>
                    </div>
                    
                    
                    <div class="cpbltv"><a href="https://hamivideo.hinet.net/main/606.do" target="_blank" title="CPBLTV(開啟新視窗)">CPBLTV</a></div>
                </div>
            </div>
        </header>

        




<div id="Center" v-cloak=v-cloak>
    <div id="Content">

        <div class="PageTitle"><h2><!-- InstanceBeginEditable name="PageTitle" -->賽程<span class="en">SCHEDULE</span><!-- InstanceEndEditable --></h2></div>
        <div id="Breadcrumbs">
            <div>
                <ul>
                    <li><a href="/">首頁</a></li>
                    <!-- InstanceBeginEditable name="Breadcrumbs" -->
                    <li><a href="/schedule">賽程</a></li>
                    <!-- InstanceEndEditable -->
                </ul>
            </div>
        </div>

        <!--toolbar-->


        <!--toolbar end-->
        <!-- InstanceBeginEditable name="content" -->
        <input name="__RequestVerificationToken" type="hidden" value="ux9bIHT6DAM09rGMZKB08vjpfG6oBJQW_vt7Bzy3X9M-9jqLUQf-0ej3xohd7Dig-sO69ZSTCR0myqbbIVJ0xLjW-P01" />



<div class="ScheduleSearch FormElmt">
    <div class="item game_type">
        <select v-model="filters.kindCode" v-on:change="getGameDatas">
            <option v-for="(item, index) in options.kindCodes" :key="'locationOptions_' + index" :value="item.Value">{{ item.Text }}</option>
        </select>
    </div>
    <div class="item year">
        <select v-model="calendar.year">
            <option v-for="(item, index) in (today.year - 1990 + 1)" :key="'yearOptions_' + index" :value="today.year - index">
                {{ today.year - index  }}
            </option>
        </select>
    </div>
    <div class="item month">
        <select v-model="calendar.month">
            <option v-for="(item, index) in 12" :key="'monthOptions_' + index" :value="index">
                {{ item }}月
            </option>
        </select>
    </div>
    <div class="item game_place">
        <select v-model="filters.location" v-on:change="getGameDatas">
            <option v-for="(item, index) in options.locations" :key="'locationOptions_' + index" :value="item.Value">{{ item.Text }}</option>
        </select>
    </div>
    
</div>

<div class="GameDateSelect">
    <div>
        <div class="prevNext">
            <a href="javascript:;" class="prev" v-on:click="changMonth(-1)" title="previous" v-if="isShowPrevButton">previous</a>
            <a href="javascript:;" class="next" v-on:click="changMonth(1)" title="next" v-if="isShowNextButton">next</a>
        </div>
        <div class="date_selected">
            <div class="date">{{ correctYearMonth }}</div>
        </div>
    </div>
</div>

<div class="ScheduleGroup tabs_group">
    <div class="tabs">
        <ul>
            <!--預設顯示第一個(class=active)-->
            <li class="calendar active"><a href="javascript:;" title="月曆顯示"><span>月曆顯示</span></a></li>
            <li class="list"><a href="javascript:;" title="列表顯示"><span>列表顯示</span></a></li>
            <li class="download" v-if="getDownloadUrl()"><a :href="getDownloadUrl()" target="_blank" title="下載賽程表"><span>下載賽程表</span></a></li>
        </ul>
    </div>

    <div class="tab_container">
        <!--月曆顯示-->
        <!--預設顯示第一個(class=active)-->
        <div class="tab_cont calendar active">
            <div class="cont">

                <!-- 賽程表(月曆)(只在1024以上出現)-->
                <div class="ScheduleTable">
                    <table>
                        <tr>
                            <th>星期一</th>
                            <th>星期二</th>
                            <th>星期三</th>
                            <th>星期四</th>
                            <th>星期五</th>
                            <th>星期六</th>
                            <th>星期日</th>
                        </tr>
                        <tr v-for="i in getMonthWeek()">
                            <!--other_month=非本月的日期；today=今日-->
                            <td v-for="j in 7" :class="setCalendarClass(i, j)">
                                <div>
                                    <div class="date" :data-date="calendarMonth[(i-1)*7+j-1].date">
                                        {{ calendarMonth[(i-1)*7+j-1].date }}
                                    </div>
                                    
                                    <template v-if="isHaveGame(calendarMonth[(i-1)*7+j-1]).length > 0">
                                        
                                        <div :class="{'game': true, 'final': game.GameResult == '0' }" v-for="(game, gameIndex) in isHaveGame(calendarMonth[(i-1)*7+j-1])" :key="gameIndex">
                                            <a :href="getGameUrl(game.GameDate, game.KindCode, game.GameSno, game.PresentStatus)">
                                                <div>
                                                    <div class="info">
                                                        <div class="place"> {{ game.FieldAbbe }} </div>
                                                        <div class="game_no">{{ (['C', 'E'].indexOf(game.KindCode) >= 0 ? 'Game' : '') }} {{ game.GameSno }} </div>
                                                    </div>
                                                    <div class="vs_box">
                                                        <div class="team away">
                                                            <span :style="{'background-image': 'url(' + game.VisitingClubSmallImgPath + ')'}" :title="game.VisitingTeamName">
                                                                {{ game.VisitingTeamName }}
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="score" v-if="isPlaying(game) || game.GameDateTimeE != null || (game.GameResult == '2' && game.PresentStatus == 1)">
                                                            <div class="num away">
                                                                {{ game.VisitingScore }}
                                                            </div>
                                                            <div class="text">:</div>
                                                            <div class="num home">
                                                                {{ game.HomeScore }}
                                                            </div>
                                                        </div>
                                                        <div class="score" v-else>
                                                            <div class="text">VS.</div>
                                                        </div>
                                                        
                                                        <div class="team home">
                                                            <span :style="{'background-image': 'url(' + game.HomeClubSmallImgPath + ')'}" :title="game.HomeTeamName">
                                                                {{ game.HomeTeamName }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="remark">
                                                        <div class="note" v-if="game.MultyGame.indexOf('Y') >= 0">
                                                            <div>雙重賽{{ game.MultyGame.replace('Y', '') }}</div>
                                                        </div>
                                                        <div class="note" v-if="game.GameResult == '1'">
                                                            <div>延賽</div>
                                                        </div>
                                                        <div class="note" v-if="game.GameResult == '2'">
                                                            <div>保留</div>
                                                            
                                                        </div>
                                                        <div class="note" v-if="game.GameResult == '4'">
                                                            <div>取消</div>
                                                        </div>
                                                        <div class="tags" v-if="isPlaying(game)">
                                                            <div class="tag live" v-if="game.IsGameStop =='1'"><span>比賽暫停</span></div>
                                                            <div class="tag live" v-else><span>比賽中</span></div>
                                                        </div>
                                                        <div class="time" v-if="game.GameDateTimeE == null && game.GameResult == '' && !isPlaying(game)">{{ dateFormat(new Date(game.PreExeDate), 'HH:mm') }}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </template>
                                    
                                    <template v-else>
                                        <div>
                                            <a href="javascript:;">
                                                <div class="info"></div>
                                                <div class="vs_box"></div>
                                                <div class="remark"></div>
                                            </a>
                                        </div>
                                    </template>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
                <!-- 賽程表(月曆) end-->

            </div>
        </div>
        <!--月曆顯示 end-->
        <!--列表顯示-->
        <div class="tab_cont list">
            <div class="cont">
                <!-- 賽程表(條列)-->
                <!-- 賽程表(條列)客戶有特別說日期不要補零，例:7/1，而不是07/01-->
                <div class="ScheduleTableList">
                    <table>
                        <tr>
                            <th class="date">日期</th>
                            <th class="game_no">場次</th>
                            <th class="team">隊伍</th>
                            <th class="info">場地</th>
                            <th>&nbsp;</th>
                        </tr>
                        
                        <tr v-for="(game, gameIndex) in gameMonthDatas" :key="gameIndex" :class="{'final': game.GameResult == '0', 'today': (new Date(game.GameDate).setHours(0,0,0,0) == new Date().setHours(0,0,0,0)) }">
                            <td class="date" v-bind:rowspan="isHaveGame(game.GameDate).length" v-if="gameIndex == 0 || gameMonthDatas[gameIndex - 1].GameDate != gameMonthDatas[gameIndex].GameDate">{{ dateFormat(new Date(game.GameDate), 'M/D') }}<span class="day">({{ getChineseDay(new Date(game.GameDate)) }})</span></td><!--賽程表條列式的日期與場次數字皆不補0-->
                            <td class="game_no">
                                <a :href="getGameUrl(game.GameDate, game.KindCode, game.GameSno, game.PresentStatus)">{{ (['C', 'E'].indexOf(game.KindCode) >= 0 ? 'Game' : '') }} {{ game.GameSno }}</a>
                                <a :href="getGameUrl(game.GameDate, game.KindCode, game.GameSno, game.PresentStatus)" class="mobile-only"></a>
                            </td>
                            <td class="team">
                                <div class="name away"><a :href="getTeamUrl(game.VisitingTeamCode)" target="_blank" :style="{'background-image': 'url(' + game.VisitingClubSmallImgPath + ')'}">{{ game.VisitingTeamName }}</a></div>
                                
                                <div class="score" v-if="isPlaying(game) || game.GameDateTimeE != null || (game.GameResult == '2' && game.PresentStatus == 1)">
                                    <div class="num away">{{ game.VisitingScore }}</div>
                                    <div class="text">:</div>
                                    <div class="num home">{{ game.HomeScore }}</div>
                                </div>
                                <div class="score" v-else>
                                    <div class="num away"></div>
                                    <div class="text">VS.</div>
                                    <div class="num home"></div>
                                </div>
                                <div class="name home"><a :href="getTeamUrl(game.HomeTeamCode)" target="_blank" :style="{'background-image': 'url(' + game.HomeClubSmallImgPath + ')'}">{{ game.HomeTeamName }}</a></div>
                            </td>
                            <td class="info">
                                <div class="place"><span>{{ game.FieldAbbe }}</span></div>
                                <div class="play_time" v-if="game.GameDuringTime.trim() != ''"><span>{{ convertStringToTime(game.GameDuringTime) }}</span></div>
                                
                                <div class="time" v-if="game.GameDateTimeE == null && !isPlaying(game) && (game.GameResult == '' || (game.GameResult == '2' && Date.parse(game.PreExeDate).valueOf() >= new Date().valueOf())) "><span>{{ dateFormat(new Date(game.PreExeDate), 'HH:mm') }}</span></div>
                            </td>
                            
                            <td class="remark">
                                <div class="note" v-if="game.GameResult == '1'">
                                    <div>延賽</div>
                                </div>
                                <div class="note" v-if="game.GameResult == '2'">
                                    <div>保留</div>
                                    
                                </div>
                                <div class="note" v-if="game.GameResult == '4'">
                                    <div>取消</div>
                                </div>
                                <div class="wlsv" v-if="game.GameResult == '0'">
                                    <div v-if="game.WinningPitcherName != ''">勝投：<a :href="getPlayerUrl(game.WinningPitcherAcnt)" target="_blank">{{ game.WinningPitcherName }}</a></div>
                                    <div v-if="game.LoserPitcherName != ''">敗投：<a :href="getPlayerUrl(game.LoserPitcherAcnt)" target="_blank">{{ game.LoserPitcherName }}</a></div>
                                    <div v-if="game.CloserName != ''">救援成功：<a :href="getPlayerUrl(game.CloserAcnt)" target="_blank">{{ game.CloserName }}</a></div>
                                    <div v-if="game.MvpName != ''">
                                        MVP：<a :href="getPlayerUrl(game.MvpAcnt)" target="_blank">{{ game.MvpName }}</a>
                                        <template v-if="game.MvpCount > 1">
                                            ({{ game.MvpCount }})
                                        </template>
                                    </div><!--括號內的數字為本季已得到MVP的次數-->
                                </div>
                                <div class="wlsv" v-else-if="game.GameResult == '' && game.VisitingPitcherName != '' && game.HomePitcherName != '' && !isPlaying(game)">
                                    <div>先發({{ game.VisitingTeamName }})：<a :href="getPlayerUrl(game.VisitingPitcherAcnt)" target="_blank">{{ game.VisitingPitcherName }}</a></div>
                                    <div>先發({{ game.HomeTeamName }})：<a :href="getPlayerUrl(game.HomePitcherAcnt)" target="_blank">{{ game.HomePitcherName }}</a></div>
                                </div>
                                <div class="tags" v-if="isPlaying(game)">
                                    <div class="tag live" v-if="game.IsGameStop =='1'"><span>比賽暫停</span></div>
                                    <div class="tag live" v-else><span>比賽中</span></div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <!-- 賽程表(條列) end-->
            </div>
        </div>
        <!--列表顯示 end-->
    </div>
</div>
        <!-- InstanceEndEditable -->
    </div>
</div>



        <div class="BtnTop">
            <a href="#" title="回最上層">TOP</a>
        </div>

        <footer id="Footer">
            <div>
                <div class="btn_links">
                    <ul>
                            <li><a href="https://www.sportslottery.com.tw/" target="_blank" title="台灣運彩"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0l137348447265964005/12_2.jpg" alt="台灣運彩" /></span></a></li>
                            <li><a href="https://www.cpbl.com.tw/news/cont?q=%E7%90%83%E6%A3%92%E8%AA%8D%E8%AD%89&amp;sid=0O318425694024798050" target="_blank" title="球棒認證公告"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0l109743480637249470/14.jpg" alt="球棒認證公告" /></span></a></li>
                            <li><a href="https://www.cpbl.com.tw/xmdoc/cont?sid=0L132724366328939235" target="_blank" title="已完成球棒之比賽用球棒廠商"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0l109743480193360443/15.jpg" alt="已完成球棒之比賽用球棒廠商" /></span></a></li>
                            <li><a href="https://www.cpbl.com.tw/xmdoc/cont?&amp;sid=0L132769227389558635" target="_blank" title="中華職棒業務合作"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0l109743480559491425/16.jpg" alt="中華職棒業務合作" /></span></a></li>
                            <li><a href="http://twbaa.org/" target="_blank" title="台灣女子棒球運動推廣協會"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0l109746420739708798/twbaa_logo_full-color-rgb-01.jpg" alt="台灣女子棒球運動推廣協會" /></span></a></li>
                            <li><a href="https://www.cpbl.com.tw/news/cont?sid=0M003476575671626729" target="_blank" title="官網招募"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0l244602968503278790/2021%e5%ae%98%e7%b6%b2_%e6%8b%9b%e5%8b%9fbanner.png" alt="官網招募" /></span></a></li>
                            <li><a href="https://cpbl.cyberbiz.co/" target="_blank" title="CPBL商城"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0o278578272640193805/2024%e5%ae%98%e7%b6%b2banner.png" alt="CPBL商城" /></span></a></li>
                            <li><a href="https://www.facebook.com/PHB.ALLIN" target="_blank" title="強棒出擊"><span><img src="https://www.cpbl.com.tw/files/file_pool/1/0q005379970763627946/s__8503307.png" alt="強棒出擊" /></span></a></li>
                    </ul>
                </div>

                <div class="teams">
                    <ul>
                            <li><a href="/team?ClubNo=ACN" title="中信兄弟" style="background-image:url('/files/file_pool/1/0l109765752552535770/logo_brothers_large.png')">中信兄弟</a></li>
                            <li><a href="/team?ClubNo=ADD" title="統一7-ELEVEn獅" style="background-image:url('/files/file_pool/1/0l109765751918656742/logo_lions_large.png')">統一7-ELEVEn獅</a></li>
                            <li><a href="/team?ClubNo=AJL" title="樂天桃猿" style="background-image:url('/files/file_pool/1/0o012550226923298142/2024_cpbl%e5%85%ad%e9%9a%8alogo_r_%e5%ae%98%e7%b6%b2.png')">樂天桃猿</a></li>
                            <li><a href="/team?ClubNo=AEO" title="富邦悍將" style="background-image:url('/files/file_pool/1/0l109765750739708798/logo_fubon_large.png')">富邦悍將</a></li>
                            <li><a href="/team?ClubNo=AAA" title="味全龍" style="background-image:url('/files/file_pool/1/0l109765750195839770/logo_dragon_large.png')">味全龍</a></li>
                            <li><a href="/team?ClubNo=AKP" title="台鋼雄鷹" style="background-image:url('https://www.cpbl.com.tw/files/file_pool/1/0n255385839510091777/tsg-logo0912.png')">台鋼雄鷹</a></li>
                    </ul>
                </div>

                <div class="col_left">
                    <div class="logo"><div style="background-image:url(/theme/common/images/project/logo_new.png)">中華職棒大聯盟全球資訊網 The Official Site of CPBL</div></div>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="/about/about">關於中職</a></li>
                            <li><a href="/contactus">聯絡我們</a></li>
                            <li><a href="/field">球場介紹</a></li>
                            <li><a href="/teamhistory">球隊沿革</a></li>
                            <li><a href="https://www.cpbl.com.tw/files/file_pool/1/0q085537162337965232/2026%e6%a3%92%e7%90%83%e8%a6%8f%e5%89%87%28%e5%ae%98%e7%b6%b2%29.pdf" target="_blank">棒球規則</a></li>
                            <li><a href="/theme/client/download/%e8%a3%81%e5%88%a4%e5%9f%b7%e6%b3%95%e6%89%8b%e5%86%8a%e8%a6%8f%e5%89%87%e8%a3%9c%e8%bf%b0.pdf" target="_blank">棒球補述</a></li>
                            <li><a href="/theme/client/download/%e8%81%af%e7%9b%9f%e8%a6%8f%e7%ab%a0.pdf" target="_blank">聯盟規章</a></li>
                            <li><a href="/sitenav">網站地圖</a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        中華職棒 版權所有 &copy;
                        2026
                        All rights reserved.
                    </div>
                </div>

                <div class="col_right">
                    <div class="follow_us">
                        <dl>
                            <dt>關注我們：</dt>
                            <dd class="fb"><a href="https://www.facebook.com/heartbaseball?fref=ts" target="_blank" title="(開啟新視窗)">Facebook粉絲團</a></dd>
                            <dd class="ig"><a href="https://www.instagram.com/cpbl_official/?hl=zh-tw" target="_blank" title="(開啟新視窗)">Instagram</a></dd>
                            <dd class="youtube"><a href="https://www.youtube.com/user/CPBLofficial" target="_blank" title="(開啟新視窗)">YouTube頻道</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </footer>

        <div id="nav">
            <div class="switch"><a href="#MenuMobile"><span class="menu-action"><i></i></span></a></div>
            <div id="MenuMobile">
                <ul>
                    <li class="mm-search"></li>
                    <li><a href="/">首頁</a></li>
                    <li><a href="/xmdoc">最新消息</a></li>
                    <li><a href="/schedule">賽程</a></li>
                    <li><a href="/box">成績看板</a></li>
                    <li><a href="/standings/season">球隊戰績</a></li>
                    <li>
                        <a href="javascript:;">數據統計</a>
                        <ul>
                            <li><a href="/stats/toplist">單項排行榜</a></li>
                            <li><a href="/stats/recordall">全記錄查詢</a></li>
                            <li><a href="/stats/yearaward">年度獎項得主</a></li>
                            <li><a href="/stats/hr">歷年全壘打明細</a></li>
                            <li><a href="/stats/mvp">單月MVP</a></li>
                            <li><a href="/specialreport/cont?SId=0L090754347267822514">紀錄特別報導</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">球隊</a>
                        <ul>
                                <li><a href="/team?ClubNo=ACN">中信兄弟</a></li>
                                <li><a href="/team?ClubNo=ADD">統一7-ELEVEn獅</a></li>
                                <li><a href="/team?ClubNo=AJL">樂天桃猿</a></li>
                                <li><a href="/team?ClubNo=AEO">富邦悍將</a></li>
                                <li><a href="/team?ClubNo=AAA">味全龍</a></li>
                                <li><a href="/team?ClubNo=AKP">台鋼雄鷹</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">球員</a>
                        <ul>
                            <li><a href="/player">球員點將錄</a></li>
                            <li><a href="/player/trans">球員異動</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="https://cpbl.cyberbiz.co/">商城</a>
                    </li>

                    <!--li><a href="javascript:;">票務</a></li-->
                    
                    <li><a href="/about/about">關於中職</a></li>
                    <li><a href="/contactus">聯絡我們</a></li>
                    <li><a href="/field">球場介紹</a></li>
                    <li><a href="https://www.cpbl.com.tw/files/file_pool/1/0q085537162337965232/2026%e6%a3%92%e7%90%83%e8%a6%8f%e5%89%87%28%e5%ae%98%e7%b6%b2%29.pdf" target="_blank">棒球規則</a></li>
                    <li><a href="/theme/client/download/%e8%a3%81%e5%88%a4%e5%9f%b7%e6%b3%95%e6%89%8b%e5%86%8a%e8%a6%8f%e5%89%87%e8%a3%9c%e8%bf%b0.pdf" target="_blank">棒球補述</a></li>
                    <li><a href="/theme/client/download/%e8%81%af%e7%9b%9f%e8%a6%8f%e7%ab%a0.pdf" target="_blank">聯盟規章</a></li>
                    <li><a href="/sitenav">網站地圖</a></li>
                    <li><a href="https://en.cpbl.com.tw">English</a></li>
                    
                    
                    <li><a href="https://hamivideo.hinet.net/main/606.do" target="_blank">CPBLTV</a></li>
                </ul>
            </div>
        </div>
    </div>

    
    <script src="/theme/common/js/dayjs.min.js?v=20210729"></script>
    <script src="/theme/common/js/calculate-formula.js"></script>
    <script src="/theme/client/js/vue_schedule.js?v=20210809"></script>
    <script>
        'use strict'
        var app = new Vue({
            el: "#Center",
            mixins: [mixin],
            data:{
                url:{
                    box: '/box',
                    person: '/team/person',
                    team: '/team',
                    download: '/files/GameDets'
                },
                filters:{
                    location: '',
                    kindCode: 'A'
                },
                options:{
                    locations: [{ Value:'', Text:'全部場地' }],
                    kindCodes: [
                        { Value: 'A', Text: '一軍例行賽' },
                        { Value: 'C', Text: '一軍總冠軍賽' },
                        { Value: 'E', Text: '一軍季後挑戰賽' },
                        { Value: 'G', Text: '一軍熱身賽' },
                        { Value: 'B', Text: '一軍明星賽' },
                        { Value: 'D', Text: '二軍例行賽' },
                        { Value: 'F', Text: '二軍總冠軍賽' },
                        //[20230527 by fan] 未來之星邀請賽
                        { Value: 'H', Text: '未來之星邀請賽' },
                        { Value: 'X', Text: '國際交流賽' }
                    ]
                }
            },
            methods: {
                // AJAX 取得比賽資料
                getGameDatas: function(){
                    var _this = this;

                    $(function(){
                        $("body").block({ message: '<img alt="" border="0" src="/theme/common/images/loader.gif" />', css: { width: "32px", height: "32px", border: "0px" }, overlayCSS: { backgroundColor: "#fff" } });
                    });

                    function getOpts(){
                        var $d = $.Deferred();

                        // 取得動態下拉選單
                        $.ajax({
                            url: '/schedule/getoptsaction',
                            type: 'POST',
                            data: { kindCode: _this.filters.kindCode, year: _this.calendar.year },
                            headers: {
                                RequestVerificationToken: 'trc0ohPgNRBVuiYX8dhCXZJN_pgsvkFhpmwCQ9Nb1323sPtO7Ar3N3CaXrmnJJ6VTZjcxZVCb21vVkYFDdt8PTkEr3g1:8tECY0VzDy4cUH9La1iqhU8_idZlXP_8rn-stCapOrIKH9VgQNEp9-Zp6vVZbFkvBECkUrd-SdiPteiiuvznuZxL48A1'
                            },
                            success: function(result) {
                                if (result.Success) {
                                    _this.options.locations = JSON.parse(result.FieldOpts);

                                    var test = _this.options.locations.filter(function(item){
                                        return item.Value == _this.filters.location;
                                    });

                                    if(test.length === 0){
                                        _this.filters.location = "";
                                    }
                                }

                                $d.resolve();
                            },
                            error: function(res) {
                                console.log(res);
                            },
                            complete: function () {
                               //$("body").unblock()
                            }
                        });

                        return $d.promise();
                    }

                    getOpts().done(function(res) {
                        var filterData = {
                            calendar: dayjs(new Date(_this.calendar.year, 0, 1)).format("YYYY/MM/DD"),
                            location: _this.filters.location,
                            kindCode: _this.filters.kindCode
                        };

                        $.ajax({
                            url: '/schedule/getgamedatas',
                            type: 'POST',
                            data: filterData,
                            headers: {
                                RequestVerificationToken: 'ixw4QXN0l7evzmfTe5ljM13gPdUyTZ9MuIP2f1j5h09DS87tb1tvu_Q0hzDozIKVSNNN_0z42VCLY_ZGHxzbbSc_xsA1:mepyc3PRz93-op7FmQUYtTUTJ1Oog9O8yFAze5G0ABQXr4fAAqVP9OxkSb9b-5gqAQCbre6Bj0i2rYSQzo8Cx36iVqs1'
                            },
                            success: function(result) {
                                if (result.Success) {
                                    _this.gameDatas = JSON.parse(result.GameDatas);
                                    _this.getGames();
                                }
                            },
                            error: function(res) {
                                console.log(res);
                            },
                            complete: function () {
                                $("body").unblock()
                            }
                        });
                    });
                },
                getDownloadUrl: function () {
                    if (this.gameMonthDatas.length <= 0 || this.filters.kindCode == "B") {
                        return null;
                    }

                    var kindCode = this.filters.kindCode;
                    var kindCodeChi = this.options.kindCodes.filter(function (item) {
                        return item.Value == kindCode;
                    })[0];
                    var yearFormat = dayjs(new Date(this.calendar.year, this.calendar.month, 1)).format("YYYY");
                    var monthFormat = dayjs(new Date(this.calendar.year, this.calendar.month, 1)).format("MM");

                    var fileName = encodeURIComponent('CPBL' + kindCodeChi.Text + '_' + yearFormat + monthFormat + '.pdf');
                    var url = this.url.download + '/' + yearFormat + '/' + kindCode + '/' + fileName;

                    return url;
                }
            }
        })
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XVM9WZM59B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-XVM9WZM59B');
    </script>
</body>
</html>
